@inject IModalService ModalService
@using Blazored.Modal.Services
@using Microsoft.AspNetCore.Components
@using riwi.Models;
@using riwi.Services;

<BlazoredModalTitle>
    Términos y Condiciones
</BlazoredModalTitle>
<BlazoredModalContent>
    <p>Por favor, acepte los términos y condiciones para continuar.</p>
</BlazoredModalContent>
<BlazoredModalFooter>
    <button class="btn btn-secondary" @onclick="Cancelar">Cancelar</button>
    <button class="btn btn-primary" @onclick="Aceptar">Aceptar</button>
</BlazoredModalFooter>
@code {
    [Inject]
    private NavigationManager NavigationManager { get; set; }

    [Inject]
    private TermsAndConditionsService TermsService { get; set; } // Inyección del servicio

    [Parameter] public Group? group { get; set; }
    [Parameter] public string GroupId { get; set; } // Recibe el id del grupo

    private async Task Aceptar()
    {
        // Crear el modelo para los términos y condiciones
        var newTerms = new TermAndCondition
        {
            Clicked_Date = DateTime.Now,
            IsActive = true,
            Accepted = true,
            GroupId = GroupId, // Utiliza GroupId aquí
            AcceptedEmail = group?.AssociateEmail,
            CreatorEmail = group?.CreatedBy
        };

        // Llamar al servicio para aceptar los términos
        bool success = await TermsService.AcceptTermsAsync(newTerms);

        if (success)
        {
            // Cerrar el modal
            Console.WriteLine("Aceptó modal");

            // Redirigir a la página de inicio
            NavigationManager.NavigateTo($"/HomeExterno/{GroupId}");
        }
        else
        {
            // Manejar el error, por ejemplo, mostrar un mensaje
            Console.WriteLine("No se pudo aceptar los términos y condiciones.");
        }
    }

    private void Cancelar()
    {
        // Cerrar el modal sin hacer nada
        Console.WriteLine("Cerrado Modal");
    }

    protected override Task OnInitializedAsync()
    {
        Console.WriteLine($"Group recibido en el modal: {group?.Name ?? "null"}, GroupId: {GroupId}");
        return base.OnInitializedAsync();
    }
}
