@namespace riwitalentfrontend.Components
@using riwitalentfrontend.Components

<head>
    <link rel="stylesheet" href="css/Components/BannerCodersComponent.css">
</head>

<div class="container-banner">
    <img class="banner_image" src="images/bannerStaffRiwi.png" alt="Banner Staff Riwi"/>
</div>



@code {
    
}