.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.nav-scrollable {
    height: 100%;
    top: 0;
    left: 0;
}

.top-row {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand {
    font-size: 1.1rem;
}

.riwi-image-content{
    
}

.text_Navmenu {
    margin-top: 4px !important;
    margin-left: 10px !important;
}

.nav-item {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

.nav-item:first-of-type {
    padding-top: 1rem;
}

.nav-item:last-of-type {
    padding-bottom: 1rem;
}

.nav-item ::deep a {
    color: #d7d7d7;
    border-radius: 4px;
    height: 3rem;
    display: flex;
    align-items: center;
    line-height: 3rem;
}

.nav-item ::deep a.active {
    background-color: rgba(255,255,255,0.37);
    color: white;
}

.riwi-image {
    width: 123px;
    height: 40px;
}

.nav-item ::deep a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

/* Media queries para responsividad */

@media (max-width: 640px) {
    .navbar-brand {
        font-size: 1rem;
    }

    .nav-item {
        font-size: 0.8rem;
    }

    .text_Navmenu {
        margin-left: 5px !important;
    }
}

@media (min-width: 150px) {
    .navbar-toggler {
        display: none;
    }

    .collapse {
        display: block; /* No colapsar la barra lateral en pantallas grandes */
    }

    .nav-scrollable {
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}

@media (max-width: 1024px) {
    .navbar-brand {
        font-size: 1rem;
    }

    .nav-item {
        font-size: 0.9rem;
    }

    .nav-scrollable {
        height: calc(100vh - 4rem); /* Ajustar el alto en tabletas */
        top: 0;
        left: 0;
    }
}

