@namespace riwi.Layout.Components.BannerCoders
@using riwi.Layout.Components.Avatar

<div class="container-banner">
    <img class="banner_image" src="images/bannerStaffRiwi.png" alt="Banner Staff Riwi"/>
</div>

@code {
    
}