@namespace riwi.Layout.Components.BannerCoders


<div class="container-banner">
    <div class="container-banner__item">
        <span style="color: #5acca4">¡Descubre</span><br>
        <span style="color: white;" class="container-banner__item__span--margin-right">los</span>
        <span style="color: #b018c9">mejores</span>
        <span style="color: #b018c9;" class="container-banner__item__span--margin-right">talentos</span>
        <br>
        <span style="color: white">para cada</span><br>
        <div class="container-banner__item__rectangle">
            <span>empresa!</span>
        </div>
    </div>

    <div class="container-banner__item">
        <p style="color: #E6CA52; font-size: 1.9em; font-weight: 700; line-height: 1 font-family: 'Ubuntu', sans-serif;">¡Inicia procesos y transforma vidas!</p>
        <div class="prueba__e">
        
                <div class="pee1">
                    <span>
                        <MudIcon class="prueba__e_icon" Style="color: white" Icon="@Icons.Material.Filled.Link"></MudIcon>
                    </span>
                    <p>Crea grupos de coders segun requerimientos especificos </p>
                </div>
            
                <div class="pee2">
                    <span>
                        <MudIcon class="prueba__e_icon" Style="color: white" Icon="@Icons.Material.Filled.Link"></MudIcon>
                    </span>
                    <p>Comparte talento mediante link y token de acceso</p>
                </div>
            
        </div>
    
    </div>

    <div class="container-banner__item">
        <MudImage Style="width: 235px; height: 210px; position: relative; top: -23px; ;" Src="./herobannerCoders.png"></MudImage>
    </div>
</div>

@code {
    
}