@namespace riwi.Layout.Components.BannerCoders


<div class="container-banner">
    <div class="container-banner__item">
        <span style="color: #5acca4">¡Descubre</span><br>
        <span style="color: white;" class="container-banner__item__span--margin-right">los</span>
        <span style="color: #b018c9">mejores</span>
        <span style="color: #b018c9;" class="container-banner__item__span--margin-right">talentos</span>
        <span style="color: white">para cada</span><br>
        <div class="container-banner__item__rectangle">
            <span>empresa!</span>
        </div>
    </div>

    <div class="container-banner__item">
        <p style="color: #E6CA52; font-size: 1.9em; font-weight: 700; line-height: 1 font-family: 'Ubuntu', sans-serif;">¡Inicia procesos y transforma vidas!</p>
        <div class="prueba">
            <div class="prueba__e" style="margin-left: -5vw;">
                <span style="margin-left: auto">
                    <MudIcon Style="color: white" Icon="@Icons.Material.Filled.Link"></MudIcon>
                </span>
                <div class="pee1">
                    <p style="font-size: 13px; margin-top: 7px;">Crea grupos de coders segun requerimientos especificos </p>
                </div>
            </div>
            
            <div class="prueba__e" style="margin-left: 4.5vw;">
                <span>
                    <MudIcon Style="color: white" Icon="@Icons.Material.Filled.Link"></MudIcon>
                </span>
                <div class="pee2">
                    <p style="margin-top: 7px; font-size: 13px">Comparte talento mediante link y token de acceso</p>
                </div>
            </div>
        </div>
    
    </div>

    <div class="container-banner__item">
        <MudImage Style="width: 235px; height: 210px; position: relative; top: -23px; ;" Src="./herobannerCoders.png"></MudImage>
    </div>
</div>

@code {
    
}