@media (max-width: 768px) {
    .container-filter {
        grid-template-columns: 1fr; /* Una columna para todos los elementos */
        height: auto; /* Ajusta la altura automáticamente */
    }

    .container-filter > :nth-child(1), /* Resultados */
    .container-filter > :nth-child(2) { /* Buscar */
        width: 100%; /* Ocupan todo el ancho disponible */
    }

    .container-filter > :nth-child(3), /* Primer select */
    .container-filter > :nth-child(4) { /* Segundo select */
        width: 40%; /* Ocupan el 40% del ancho */
        margin: auto; /* Centra los selects horizontalmente */
    }
}