@namespace riwitalentfrontend.Components
@inject IModalService ModalService
@using Blazored.Modal.Services
@inject IGroupService GroupService
@inject IEmailService EmailService
@inject TermsAndConditionsService _termsAndConditionsService
@inject NavigationManager NavigationManager
@inject SweetAlertService Swal;
@inject AlertService AlertService;
@using riwitalentfrontend.Models;
@using riwitalentfrontend.Models.DTOs;
@using riwitalentfrontend.Services.Interfaces;
@using riwitalentfrontend.Services.Implementations;


<head>
    <link rel="stylesheet" href="css/Components/TermsAndConditionsComponent.css">
</head>



<BlazoredModalTitle class="text-center d-flex justify-center">
    Por favor, acepte los términos y condiciones para continuar.
</BlazoredModalTitle>
<BlazoredModalContent class="d-block overflow-scroll p-3" style="height=500px; max-height:500px">
    <h3 class="text-center d-flex justify-center">POLÍTICA MANEJO DE INFORMACIÓN Y DATOS PERSONALES DE RISE CLUSTER S.A.S.</h3>

        <h4>GENERALIDADES</h4>
        <p>
            La presente política se define de conformidad con la entrada en vigencia de la Ley estatutaria 1581 de 2012, la cual “tiene por objeto desarrollar el derecho constitucional que tienen todas las personas a conocer, actualizar y rectificar las informaciones que se hayan recogido sobre ellas en bases de datos o archivos, y los demás derechos, libertades y garantías constitucionales a que se refiere el artículo 15 de la Constitución Política; así como el derecho a la información consagrado en el artículo 20 de la misma.”
        </p>
        <p>
            En virtud de lo anterior Rise Cluster S.A.S., teniendo en cuenta el mandato contenido en el literal k del artículo 17 de la Ley 1581 de 2012 y el artículo 13 del Decreto Reglamentario 1337 de 2013, se permite formular la presente política de tratamiento de datos personales, con el fin general de atender las consultas y reclamos acerca del tratamiento de los datos de carácter personales que decida tratar, todo procurando salvaguardar el derecho fundamental de todas las personas al habeas data.
        </p>

        <h4>OBJETIVO GENERAL</h4>
        <p>
            Con la implementación de la política de la cual da cuenta este escrito, se pretende garantizar la reserva y la seguridad en cuanto al tratamiento de la información de aquellas personas naturales que han autorizado el tratamiento de sus datos personales, todo ello conforme a los lineamientos demarcados por la normatividad que regula el derecho al habeas data.
        </p>

        <h4>DEFNICIONES</h4>
        <ul>
            <li><strong>Autorización:</strong> “Consentimiento que, de manera previa, expresa e informada emite el titular de algún dato personal para que se lleve a cabo el tratamiento de datos personales.”.</li>
            <li><strong>Aviso de privacidad:</strong> “Documento físico, electrónico generado por el responsable del tratamiento que es puesto a disposición del titular con la información relativa a la existencia de las políticas de tratamiento de información que le serán aplicadas, la forma de acceder a las mismas y las características del tratamiento que se pretende dar a los datos personales.”.</li>
            <li><strong>Base de datos:</strong> “Conjunto organizado de datos personales que sea objeto de tratamiento.”.</li>
            <li><strong>Dato personal:</strong> “Cualquier información vinculada o que pueda asociarse a una o varias personas naturales determinadas o determinables.”.</li>
            <li><strong>Encargado del tratamiento:</strong> “Persona natural o jurídica, pública o privada, que por sí mismo o en asocio con otros, realice tratamiento de datos personales por cuenta del responsable del tratamiento.”.</li>
            <li><strong>Responsable del tratamiento:</strong> “Persona natural o jurídica, pública o privada, que por sí misma o en asocio con otros, realice tratamiento de datos personales por cuenta del responsable del tratamiento.”.</li>
            <li><strong>Titular:</strong> “Persona natural cuyos datos personales sean objeto de tratamiento.”.</li>
            <li><strong>Tratamiento:</strong> “Cualquier operación o conjunto de operaciones sobre datos personales, tales como recolección, almacenamiento, uso, circulación o supresión.”.</li>
        </ul>

        <h4>TIPOLOGÍA DE DATOS</h4>
        <ul>
            <li><strong>Dato privado:</strong> Dato que por su naturaleza íntima o reservada solo es relevante para el titular.</li>
            <li><strong>Dato público:</strong> Dato calificado como tal según los mandatos de la ley o de la Constitución.</li>
            <li><strong>Dato semiprivado:</strong> Dato que carece de naturaleza intima o reservada pero tampoco pública y cuyo conocimiento o divulgación puede interesar no solo a su titular sino a cierto grupo de personas o a la sociedad en general.</li>
            <li><strong>Dato sensible:</strong> Dato relacionado con el origen racial o étnico, pertenencia a sindicatos, organizaciones sociales o de derechos humanos, convicciones políticas, religiosas, de la vida sexual, biométricos o datos de la salud.</li>
        </ul>

        <h4>DERECHOS QUE TIENE EL TITULAR FRENTE AL RESPONSABLE DEL TRATAMIENTO DE LOS DATOS PERSONALES</h4>
        <p>
            Todo proceso que conlleve el tratamiento de datos personales por parte de Rise Cluster S.A.S. deberá tener en cuenta e informar de manera previa y expresa los derechos que le asisten al titular de los mismos, cuales son:
        </p>
        <ul>
            <li>A. Conocer, actualizar y rectificar los datos personales frente al responsable o encargado del tratamiento. Este derecho se podrá ejercer, entre otros, frente a datos parciales, inexactos, incompletos, fraccionados, que induzcan a error, o a aquellos cuyo tratamiento esté expresamente prohibido o no haya sido autorizado.</li>
            <li>B. Solicitar prueba de la autorización otorgada al responsable del tratamiento salvo cuando expresamente se exceptúe como requisito para el tratamiento, de conformidad con lo previsto en la Ley.</li>
            <li>C. Revocar la autorización o solicitar la supresión del dato cuando en el tratamiento no se respeten los principios, derechos y garantías constitucionales y legales. La revocatoria o supresión procederá cuando la Superintendencia de Industria y Comercio haya determinado que en el tratamiento el responsable o encargado ha incurrido en conductas contrarias a la ley y la Constitución.</li>
            <li>D. Acceder en forma gratuita a los datos personales que le pertenecen y que hayan sido objeto de tratamiento. En todo caso deberá conservarse una constancia, no importa el medio que la contenga, en donde se de cuenta de la información que sobre el particular se le presentó al titular de los datos personales.</li>
        </ul>

        <h4>CASOS EN LOS CUALES NO SE REQUIERE AUTORIZACIÓN DEL TITULAR PARA EL TRATAMIENTO DE DATOS PERSONALES</h4>
        <p>
            La autorización para el tratamiento de datos personales por parte del titular no será requerida en los siguientes casos:
        </p>
        <ul>
            <li>A. Cuando la información sea requerida por una entidad pública o administrativa en ejercicio de sus funciones legales o por orden judicial.</li>
            <li>B. Cuando se trate de datos de naturaleza pública.</li>
            <li>C. Cuando se trate de casos de urgencia médica o sanitaria.</li>
            <li>D. Cuando el tratamiento sea autorizado por la ley para fines históricos, estadísticos o científicos.</li>
            <li>E. Cuando se trate de datos relacionados con el registro civil de las personas.</li>
        </ul>
        <p>
            A pesar de que, en los casos indicados no se requiere autorización del titular, el responsable del tratamiento de datos personales deberá cumplir con la normatividad contenida en la Ley 1581 de 2012 y aquellas otras que las sustituyan, adicionen, modifiquen o complementen.
        </p>

        <h4>PERSONAS A QUIENES SE LES PUEDE SUMINISTRAR LA INFORMACIÓN</h4>
        <p>
            La información que reúna las condiciones contenidas en la presente política, así como la contenida en la Ley 1581 de 2012 podrá ser entregada a:
        </p>
        <ul>
            <li>A. Los titulares.</li>
            <li>B. Los causahabientes de los titulares.</li>
            <li>C. Los representantes legales de los titulares.</li>
            <li>D. Las entidades públicas o administrativas en ejercicio de sus funciones legales o por orden judicial.</li>
            <li>E. Los terceros autorizados por el titular.</li>
            <li>F. Los titulares autorizados por la Ley.</li>
        </ul>
        <p>
            En todo caso la entrega al cada una de dichas personas se llevará a efecto siempre y cuando las mismas acrediten de forma fehaciente la calidad en la que actúan, todo ello con la intención de evitar hacer de entrega de información a personas ajenas a la misma.
        </p>

        <h4>DEBERES DEL RESPONSABLE O ENCARGADO DEL TRATAMIENTO DE DATOS PERSONALES</h4>
        <p>
            Son deberes de los responsables o encargados del tratamiento de datos personales, sin perjuicio de los demás establecidos en la Ley 1581 de 2012 y demás normas sobre la materia, los siguientes:
        </p>
        <ul>
            <li>A. Garantizar al titular, en todo tiempo, el pleno y efectivo del derecho al habeas data.</li>
            <li>B. Solicitar y conservar, en las condiciones previstas en la Ley 1581 de 2012, copia de la autorización otorgada por el titular.</li>
            <li>C. Informar debidamente al titular sobre la finalidad de la recolección y los derechos que le asisten por virtud de la autorización otorgada.</li>
            <li>D. Conservar la información bajo las condiciones de seguridad necesarias para impedir su adulteración, pérdida, consulta, uso o acceso no autorizado o fraudulento.</li>
            <li>E. Garantizar que la información que se suministre al encargado del tratamiento sea veraz, completa, exacta, actualizada, comprobable y comprensible.</li>
            <li>F. Actualizar la información, comunicado de forma oportuna al encargado del tratamiento, todas las novedades respecto de los datos que previamente le haya suministr</li>
        </ul>
        <h3>POLÍTICA MANEJO DE INFORMACIÓN Y DATOS PERSONALES DE RISE CLUSTER S.A.S.</h3>

        <h4>GENERALIDADES</h4>
        <p>
            La presente política se define de conformidad con la entrada en vigencia de la Ley estatutaria 1581 de 2012, la cual “tiene por objeto desarrollar el derecho constitucional que tienen todas las personas a conocer, actualizar y rectificar las informaciones que se hayan recogido sobre ellas en bases de datos o archivos, y los demás derechos, libertades y garantías constitucionales a que se refiere el artículo 15 de la Constitución Política; así como el derecho a la información consagrado en el artículo 20 de la misma.”
        </p>
        <p>
            En virtud de lo anterior Rise Cluster S.A.S., teniendo en cuenta el mandato contenido en el literal k del artículo 17 de la Ley 1581 de 2012 y el artículo 13 del Decreto Reglamentario 1337 de 2013, se permite formular la presente política de tratamiento de datos personales, con el fin general de atender las consultas y reclamos acerca del tratamiento de los datos de carácter personales que decida tratar, todo procurando salvaguardar el derecho fundamental de todas las personas al habeas data.
        </p>

        <h4>OBJETIVO GENERAL</h4>
        <p>
            Con la implementación de la política de la cual da cuenta este escrito, se pretende garantizar la reserva y la seguridad en cuanto al tratamiento de la información de aquellas personas naturales que han autorizado el tratamiento de sus datos personales, todo ello conforme a los lineamientos demarcados por la normatividad que regula el derecho al habeas data.
        </p>

        <h4>DEFNICIONES</h4>
        <ul>
            <li><strong>Autorización:</strong> “Consentimiento que, de manera previa, expresa e informada emite el titular de algún dato personal para que se lleve a cabo el tratamiento de datos personales.”.</li>
            <li><strong>Aviso de privacidad:</strong> “Documento físico, electrónico generado por el responsable del tratamiento que es puesto a disposición del titular con la información relativa a la existencia de las políticas de tratamiento de información que le serán aplicadas, la forma de acceder a las mismas y las características del tratamiento que se pretende dar a los datos personales.”.</li>
            <li><strong>Base de datos:</strong> “Conjunto organizado de datos personales que sea objeto de tratamiento.”.</li>
            <li><strong>Dato personal:</strong> “Cualquier información vinculada o que pueda asociarse a una o varias personas naturales determinadas o determinables.”.</li>
            <li><strong>Encargado del tratamiento:</strong> “Persona natural o jurídica, pública o privada, que por sí mismo o en asocio con otros, realice tratamiento de datos personales por cuenta del responsable del tratamiento.”.</li>
            <li><strong>Responsable del tratamiento:</strong> “Persona natural o jurídica, pública o privada, que por sí misma o en asocio con otros, realice tratamiento de datos personales por cuenta del responsable del tratamiento.”.</li>
            <li><strong>Titular:</strong> “Persona natural cuyos datos personales sean objeto de tratamiento.”.</li>
            <li><strong>Tratamiento:</strong> “Cualquier operación o conjunto de operaciones sobre datos personales, tales como recolección, almacenamiento, uso, circulación o supresión.”.</li>
        </ul>

            <h4>TIPOLOGÍA DE DATOS</h4>
            <ul>
                <li><strong>Dato privado:</strong> Dato que por su naturaleza íntima o reservada solo es relevante para el titular.</li>
                <li><strong>Dato público:</strong> Dato calificado como tal según los mandatos de la ley o de la Constitución.</li>
                <li><strong>Dato semiprivado:</strong> Dato que carece de naturaleza intima o reservada pero tampoco pública y cuyo conocimiento o divulgación puede interesar no solo a su titular sino a cierto grupo de personas o a la sociedad en general.</li>
                <li><strong>Dato sensible:</strong> Dato relacionado con el origen racial o étnico, pertenencia a sindicatos, organizaciones sociales o de derechos humanos, convicciones políticas, religiosas, de la vida sexual, biométricos o datos de la salud.</li>
            </ul>

            <h4>DERECHOS QUE TIENE EL TITULAR FRENTE AL RESPONSABLE DEL TRATAMIENTO DE LOS DATOS PERSONALES</h4>
            <p>
                Todo proceso que conlleve el tratamiento de datos personales por parte de Rise Cluster S.A.S. deberá tener en cuenta e informar de manera previa y expresa los derechos que le asisten al titular de los mismos, cuales son:
            </p>
            <ul>
                <li>A. Conocer, actualizar y rectificar los datos personales frente al responsable o encargado del tratamiento. Este derecho se podrá ejercer, entre otros, frente a datos parciales, inexactos, incompletos, fraccionados, que induzcan a error, o a aquellos cuyo tratamiento esté expresamente prohibido o no haya sido autorizado.</li>
                <li>B. Solicitar prueba de la autorización otorgada al responsable del tratamiento salvo cuando expresamente se exceptúe como requisito para el tratamiento, de conformidad con lo previsto en la Ley.</li>
                <li>C. Revocar la autorización o solicitar la supresión del dato cuando en el tratamiento no se respeten los principios, derechos y garantías constitucionales y legales. La revocatoria o supresión procederá cuando la Superintendencia de Industria y Comercio haya determinado que en el tratamiento el responsable o encargado ha incurrido en conductas contrarias a la ley y la Constitución.</li>
                <li>D. Acceder en forma gratuita a los datos personales que le pertenecen y que hayan sido objeto de tratamiento. En todo caso deberá conservarse una constancia, no importa el medio que la contenga, en donde se de cuenta de la información que sobre el particular se le presentó al titular de los datos personales.</li>
            </ul>

            <h4>CASOS EN LOS CUALES NO SE REQUIERE AUTORIZACIÓN DEL TITULAR PARA EL TRATAMIENTO DE DATOS PERSONALES</h4>
            <p>
                La autorización para el tratamiento de datos personales por parte del titular no será requerida en los siguientes casos:
            </p>
            <ul>
                <li>A. Cuando la información sea requerida por una entidad pública o administrativa en ejercicio de sus funciones legales o por orden judicial.</li>
                <li>B. Cuando se trate de datos de naturaleza pública.</li>
                <li>C. Cuando se trate de casos de urgencia médica o sanitaria.</li>
                <li>D. Cuando el tratamiento sea autorizado por la ley para fines históricos, estadísticos o científicos.</li>
                <li>E. Cuando se trate de datos relacionados con el registro civil de las personas.</li>
            </ul>
            <p>
                A pesar de que, en los casos indicados no se requiere autorización del titular, el responsable del tratamiento de datos personales deberá cumplir con la normatividad contenida en la Ley 1581 de 2012 y aquellas otras que las sustituyan, adicionen, modifiquen o complementen.
            </p>

            <h4>PERSONAS A QUIENES SE LES PUEDE SUMINISTRAR LA INFORMACIÓN</h4>
            <p>
                La información que reúna las condiciones contenidas en la presente política, así como la contenida en la Ley 1581 de 2012 podrá ser entregada a:
            </p>
            <ul>
                <li>A. Los titulares.</li>
                <li>B. Los causahabientes de los titulares.</li>
                <li>C. Los representantes legales de los titulares.</li>
                <li>D. Las entidades públicas o administrativas en ejercicio de sus funciones legales o por orden judicial.</li>
                <li>E. Los terceros autorizados por el titular.</li>
                <li>F. Los titulares autorizados por la Ley.</li>
            </ul>
            <p>
                En todo caso la entrega al cada una de dichas personas se llevará a efecto siempre y cuando las mismas acrediten de forma fehaciente la calidad en la que actúan, todo ello con la intención de evitar hacer de entrega de información a personas ajenas a la misma.
            </p>

            <h4>DEBERES DEL RESPONSABLE O ENCARGADO DEL TRATAMIENTO DE DATOS PERSONALES</h4>
            <p>
                Son deberes de los responsables o encargados del tratamiento de datos personales, sin perjuicio de los demás establecidos en la Ley 1581 de 2012 y demás normas sobre la materia, los siguientes:
            </p>
            <ul>
                <li>A. Garantizar al titular, en todo tiempo, el pleno y efectivo del derecho al habeas data.</li>
                <li>B. Solicitar y conservar, en las condiciones previstas en la Ley 1581 de 2012, copia de la autorización otorgada por el titular.</li>
                <li>C. Informar debidamente al titular sobre la finalidad de la recolección y los derechos que le asisten por virtud de la autorización otorgada.</li>
                <li>D. Conservar la información bajo las condiciones de seguridad necesarias para impedir su adulteración, pérdida, consulta, uso o acceso no autorizado o fraudulento.</li>
                <li>E. Garantizar que la información que se suministre al encargado del tratamiento sea veraz, completa, exacta, actualizada, comprobable y comprensible.</li>
                <li>F. Actualizar la información, comunicado de forma oportuna al encargado del tratamiento, todas las novedades respecto de los datos que previamente le haya suministrado y adoptar las demás medidas necesarias para que la información que se suministre a los encargados del tratamiento permanezca actualizada.</li>
                <li>G. Rectificar la información cuando sea incorrecta y comunicar lo pertinente al encargado del tratamiento.</li>
                <li>H. Proporcionar la información requerida por el titular en ejercicio de su derecho de acceso.</li>
                <li>I. Presentar la solicitud de los derechos que le asisten en virtud de la Ley 1581 de 2012.</li>
                <li>J. Informar al titular sobre las consecuencias de la negativa a suministrar la información.</li>
                <li>K. Informar a la Superintendencia de Industria y Comercio en el evento en que se presenten incidentes que afecten la seguridad de los datos personales que se estén tratando.</li>
                <li>L. Cumplir las instrucciones que imparta la Superintendencia de Industria y Comercio en virtud de las funciones que le han sido asignadas.</li>
            </ul>

            <h4>DEBERES DEL ENCARGADO DEL TRATAMIENTO DE DATOS PERSONALES</h4>
            <p>
                Son deberes del encargado del tratamiento de datos personales, sin perjuicio de los demás establecidos en la Ley 1581 de 2012 y demás normas sobre la materia, los siguientes:
            </p>
            <ul>
                <li>A. Cumplir las instrucciones y requerimientos que imparta el responsable del tratamiento.</li>
                <li>B. Conservar la información bajo las condiciones de seguridad necesarias para impedir su adulteración, pérdida, consulta, uso o acceso no autorizado o fraudulento.</li>
                <li>C. Someter a las mismas condiciones de seguridad que el responsable del tratamiento, la información que el responsable del tratamiento le haya proporcionado, en virtud de su función.</li>
                <li>D. Informar al responsable del tratamiento en forma inmediata sobre la existencia de cualquier novedad que se presente con la información que ha sido objeto de tratamiento, así como de los incidentes de seguridad que afecten la información de la que es responsable.</li>
                <li>E. Informar a la Superintendencia de Industria y Comercio en el evento en que se presenten incidentes que afecten la seguridad de los datos personales que se estén tratando.</li>
            </ul>

            <h4>VIGENCIA</h4>
            <p>
                La presente política entra en vigencia a partir de la fecha de su publicación en la página web de Rise Cluster S.A.S. y su actualización será determinada por el responsable del tratamiento.
            </p>

            <p>
                Rise Cluster S.A.S. podrá modificar la presente política, así como cualquier otro documento relacionado con el tratamiento de datos personales, para lo cual será informado de manera oportuna a todos los titulares.
            </p>

    <p>Por favor, acepte los términos y condiciones para continuar.</p>
</BlazoredModalContent>
<BlazoredModalFooter class="d-flex justify-center align-content-center">
    <MudButton Color="Color.Primary" OnClick="Aceptar">Aceptar</MudButton>
    <MudButton Color="Color.Secondary" OnClick="Cancelar">Cancelar</MudButton>
</BlazoredModalFooter>

@code {
    [Parameter]
    public string? groupId { get; set; }
    [Parameter] public string AcceptedEmail { get; set; }
    [Parameter] public string CreatorEmail { get; set; }
    private Group? group;

    protected override async Task OnInitializedAsync()
    {
        group = await GroupService.GetGroupByIdAsync(groupId);
        Console.WriteLine($"Group recibido en el modal: {group?.Id ?? "null"}");
    }

    private async Task Aceptar()
    {
        if (group == null)
        {
            Console.WriteLine("El grupo no se pudo cargar.");
            return;
        }

        // Mostrar alerta de confirmación antes de guardar
        await AlertService.SaveChangesRegister(); // Alerta de confirmación

        // Crear el nuevo registro de términos
        var newTerms = new TermAndCondition
        {
            IsActive = true,
            Accepted = true,
            GroupId = group.Id,
            Clicked_Date = DateTime.UtcNow,
            AcceptedEmail = AcceptedEmail,
            CreatorEmail = CreatorEmail
        };

        bool success = await _termsAndConditionsService.AcceptTermsAsync(newTerms);
        if (success)
        {
            // Actualizar AcceptedTerms en el grupo
            group.AcceptedTerms = true;
            var updateResult = await GroupService.Update(group); // Actualizar el grupo en la base de datos

            if (updateResult)
            {
                Console.WriteLine("Grupo actualizado correctamente.");

                // Enviar correo después de aceptar los términos
                var emailSent = await EmailService.SendEmailTest(group.Id);
                if (emailSent)
                {
                    await Swal.FireAsync("Correo Enviado", "El correo ha sido enviado con éxito.", SweetAlertIcon.Success);
                    NavigationManager.NavigateTo($"/HomeClient/{groupId}");
                }
                else
                {
                    await Swal.FireAsync("Error", "No se pudo enviar el correo.", SweetAlertIcon.Error);
                }

                // Redirigir al usuario después de aceptar los términos
                NavigationManager.NavigateTo($"/HomeClient/{groupId}");
            }
            else
            {
                Console.WriteLine("No se pudo actualizar el grupo.");
            }
        }
        else
        {
            await AlertService.Warning();
        }
    }

    private async Task Cancelar()
    {

        await AlertService.DeleteRegister();
        var newTerms = new TermAndCondition
        {
            IsActive = true,
            Accepted = false,
            GroupId = group.Id,
            Clicked_Date = DateTime.UtcNow,
            AcceptedEmail = AcceptedEmail,
            CreatorEmail = CreatorEmail
        };

        bool success = await _termsAndConditionsService.AcceptTermsAsync(newTerms);
        if (success)
        {
            NavigationManager.NavigateTo($"external-access/{groupId}");
        }
        else
        {
            await AlertService.Warning();
        }
    }
}
