.container-filter{
    margin: auto;
    width: 85%;
    height: 70px;
    margin-top: 50px;
    display: grid;
    grid-template-columns: calc(52% - 14px) 22% 26%;
    gap: 7px;
    padding: 10px;
}


.search{
    width: 100%;
    background: inherit;
    border: 0.7px solid slategray;
    border-radius: 7px;
    padding: 5px;
}

.search-container{
    height: 70%;
    width: 45%;
    border-radius: 6px;
    background-color: #ECEFFF;
    color: #6B5CFF;
}

@media (max-width: 768px) {
    .container-filter {
        grid-template-columns: 1fr 1fr; /* Una columna para todos los elementos */
        height: auto; /* Ajusta la altura automáticamente */
        grid-template-areas: 
            "search search"
            "select select";
    }

    .container-filter > :nth-child(1), /* Resultados */
    .container-filter > :nth-child(2) { /* Buscar */
        width: 100%; /* Ocupan todo el ancho disponible */
    }
    
    .text-resultado{
        font-size: 2.5vh;
    }

    .search{
        height: 6vh;
    }
    
    .container-select{
        width: 100%;
        margin: auto;
        grid-area: select;
        display: flex;
        justify-content: center;
    }
    
    .search-container{
        height: 6vh;
    }
}