.cards {
    margin: auto;
    width: 95%;
    max-width: 1120px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
    max-height: 1030px;
    padding: 20px;
    border-radius: 8px;
}


.mud-card {
    border-radius: 8px;
    width: 250px !important;
    height: 300px !important;
    position: relative;
    overflow: hidden;
}

.mud-card-content {
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}



/* .mud-card img{
    width: 100%;
    height: 100%;
} */

.cards__container_img {
    width: 100% !important;
    height: 100% !important;
}   
/* 
.mud-image {
    border-radius: 16px;
    width: 250px;
    height: 238px;
    object-fit: cover;
    z-index: 1;
} */


.cards__container {
    position: absolute;
    /* bottom: 161px; */
    border-radius: 8px;
    top: -85px;
    left: 0;
    right: 0;
    text-align: left;
    padding: 10px;
    z-index: 2;
    transition: all 0.3s ease;
    height: 300px;
    fill: #000;
    stroke-width: 0.5px;
    stroke: #000;
    backdrop-filter: blur(60.5px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


.cards__container:hover  {
    cursor: pointer;
    top: -300px;
}

.cards__profile {
    display: flex;
    justify-content: space-between;
    position: relative;
    height: 30%;
    width: 100%;
}


.cards__profile i {
    font-size: 20px;
    color: #000;
}

.cards__profile a {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    width: 30px;
    height: 30px;
    background: #fff;
    transition: 0.5s ease-in-out;
}

.cards__profile a:hover {
    background: #6B5CFF;
    transition: 0.5s ease-in-out;
}

.cards__profile i:hover {
    color: #fff;
    transition: 0.5s ease-in-out;
}



.cards__coder {
    display: flex;
    flex-direction: column;
}

.cards__coder h6 {
    color: var(--Colors-Base-White, #FFF);
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    width: 95%;
    line-height: normal;
}

.cards__coder p {
    color: var(--Colors-Base-White, #FFF);
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/*Badges*/
.badges, .container-skills-top{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
}

.badge {
    height: 20px;
    display: inline-block;
    padding: .35em .65em;
    font-size: 11px;
    font-weight: 500;
    line-height: 1;
    color: black;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
    background-color:#ffc107;
}

.cards__badges{
    display: grid;
    grid-template-columns: repeat(3, 1fr );
}

.cards__badge {
    background: #e6ca52;
    color: rgba(249, 250, 252, 1);
    border-radius: 8px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 4px 8px;
    font-family: 'ubuntu', 'Helvetica Neue';
    font-weight: bold;
    font-size: 11px;
}

.cards__badge {
    background: #e6ca52;
    color: rgba(249, 250, 252, 1);
    border-radius: 8px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 4px 8px;
    /* font-family: 'Roboto', sans-serif; */
    font-weight: bold;
    font-size: 11px;
}

/*Buttons*/
.cards__button--primary {
    display: flex;
    justify-content: left;
    gap: 10px;
    margin-top: 10px;
}

.cards__button{
    width: 100%;
    height: 30%;
}

.cards__button_element{
    background: #6b5cff;
    width: 100%;
    color: white;
    border-radius: 8px;
}


/*Modal - Detalles*/

.blazored-modal-focus-trap {
    width: 75%;
    max-width: 75%;
    min-width: 50%;
    height: 440px;
    position: relative;
    background-color: white;
    display: flex;
    justify-content: center;
    border-radius: 30px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.blazored-modal {
    /* display: flex; */
    /* flex-direction: column; */
    background-color: transparent !important;
    border-radius: 0px !important;
    border: 0px !important;
    margin: 0 !important;
    padding: 0px !important;
    /* box-shadow: 0 2px 2px rgba(0, 0, 0, .25); */
}

.custom-modal-container {
    margin: 150px 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 600px;
    border-top-left-radius: 20%;
    border-top-right-radius: 10%;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
}

.bm-content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top-left-radius: 20%;
    border-top-right-radius: 10%;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
}

.bm-container {
    margin: 0 !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.bm-header {
    position: absolute !important;
    z-index: 999;
}

.bm-close{
    color: #000 !important;
    position: relative;
    z-index: 999;
}

.bm-header span:hover{
    color: #594ae2 !important;
}

.size-medium {
    /* max-width: 500px; */
    /* margin-left: auto; */
    /* margin-right: auto; */
    width: 100% !important;
    height: 100% !important;
    background-color: red;
    max-width: 100% !important;
    margin-left: 0px !important;
}

.content-modal {
    width: 100%; 
    height: 100%; 
    position: relative; 
    /* background-color: white; 
    border-radius: 30px; 
    border-top-left-radius: 17%;
    border-bottom-left-radius: 6%;
    clip-path: polygon(9% 0%, 100% 0%, 100% 100%, 0% 100%, 2% 76%);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);  */
}

.content-model-top{
    width: 100%; 
    display: flex;
    justify-content: space-around;
    height: 85%;
}

.bottom-buttom {
    display: flex;
    width: 100%;
    height: 10%;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.left-content-details {
    width: 60%;
    height: 90%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
    align-content: center;
}

.left-top-coder {
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    position: relative;
}

.left-right-coder{
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.photo-modal {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    border: 5px solid #6B5CFF;
    z-index: 99;
}

.name-coder {
    width: 100%;
    max-height: 40px;
    padding: 5px 5px 5px 50px;
    font-size: 20px;
    font-weight: bold;
    /* margin-left: -3px; */
    color: white;
    border-radius: 10px;
    background-color: #6B5CFF;
    justify-items: end;
    position: relative;
    right: 45px;
    /* transform: translate(27%, -70%); */
    top: 10px;
}

.stacks-container {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0px 0px 0px 17px;
    /* margin-left: 15px; */
    height: 60%;
    position: relative;
    /* transform: translate(15%, 40%); */
    margin-top: 20px;
}

.stack-role {
    font-style: italic;
    font-size: 14px;
    position: relative;
}

p{
    margin: 0 !important;
}

.stack-age {
    font-size: 14px;
    position: relative;
}

.left-mid-details {
    width: 100%;
    height: 10%;
    justify-content: center;
    display: flex;
    justify-content: flex-end;
}


.containers-buttons-mid {
    width: 100%;
    display: flex;
    gap: 20px;
    justify-content: end;
}

.left-bottom-details {
    width: 100%;
    padding: 10px;
    height: 60%;
}



.description-text {
    width: 100%;
    height: 80%;
    font-size: 13px;
}

.select-coder-icon {
    right: -60px;
    width: 30px;
    height: 30px;
    padding: 10px;
    border-radius: 20%;
    background-color: #6B5CFF;
    color: white;
    cursor: pointer;
    position: absolute;
}

.right-skills-details{
    width: 40%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    row-gap: 34px;
    padding: 30px;
}

/* .container-skills-top{
    display: grid;
    grid-template-columns: repeat(4, 2fr)!;
    justify-content: left;
    padding: 4px;
    width: 100%;
    gap: 7px;
} */

.container-skills-bottom {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: left;
    padding: 4px;
    width: 100%;
    gap: 7px;
}



.box--button-hv{
    color: white;
    font-size: 12px;
    padding: 10px;
    width: 20%;
    height: 25px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;
    background-color: #6B5CFF;
}

.anchors-buttom {
    width: 8%;
    height: 30px;
    padding: 10px;
    font-size: 12px;
    background-color: #7AE3CB;
    color: aliceblue;
    text-align: center;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-mid--details-button{
    background-color: #594ae2;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 20%;
    color: white;
}

.title-skill{
    font-size: 22px;
    /* margin-top: 14%; */
}


.cardsCell{
    display: none;
}

.container-filter{
    margin: auto;
    width: 85%;
    height: 70px;
    margin-top: 15px;
    display: grid;
    grid-template-columns: calc(40% - 25px) 35% 25%;
    gap: 7px;
    padding: 10px;
}


.search{
    width: 100%;
    background: inherit;
    border: 0.7px solid slategray;
    border-radius: 7px;
    padding: 5px;
}

.search-container{
    height: 70%;
    width: 45%;
    border-radius: 6px;
    background-color: #ECEFFF;
    color: #6B5CFF;
}

@media (max-width: 768px) {
    .container-filter {
        grid-template-columns: 1fr 1fr; /* Una columna para todos los elementos */
        height: auto; /* Ajusta la altura autom치ticamente */
        grid-template-areas: 
            "search search"
            "select select";
    }

    .container-filter > :nth-child(1), /* Resultados */
    .container-filter > :nth-child(2) { /* Buscar */
        width: 100%; /* Ocupan todo el ancho disponible */
    }

    .text-resultado{
        font-size: 2.5vh;
    }

    .search{
        height: 6vh;
    }

    .container-select{
        width: 100%;
        margin: auto;
        grid-area: select;
        display: flex;
        justify-content: center;
    }

    .search-container{
        height: 6vh;
    }
}

@media (max-width: 425px) {
    
    .cards{
        display: none;
    }
    .align-self-end{
        display: none;
    }
    .mud-carousel .mud-button-root{
        display: none !important;
    }
    /* Aumentar el tama침o del slider */
    .mud-carousel {
        width: 100% !important; /* Ocupa el 100% del ancho de la pantalla */
        height: 400px !important; /* Ajusta la altura del slider */
    }

    .mud-carousel-inner {
        height: 100% !important; /* Asegura que el contenedor interno ocupe todo el slider */
    }

    /* Ajustes a las tarjetas dentro del slider */
    .mud-card {
        width: 90% !important; /* Ajusta el tama침o de las tarjetas dentro del slider */
        height: auto !important;
        margin: 0 auto; /* Centra las tarjetas */
    }

    .cardsCell {
        margin: auto;
        min-width: 80%;
        max-width: 85%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px;
        background-color: #F9FAFC;
        padding: 15px;
        border-radius: 8px;
    }

    .cards__profile {
        flex-direction: column;
        justify-content: center;
        gap: 10px;
    }

    /* Ajustes para im치genes dentro de las tarjetas */
    .cards__container_img {
        width: 100% !important;
        height: auto !important;
    }

    /* Ajustes generales del contenido */
    .mud-card-content {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        height: auto;
    }
}