
/* Contenedor principal del filtro */
.filter-container {
    display: flex;
    align-items: center;
    padding: 10px;
    border: 1px solid #d3d3d3;
    border-radius: 25px;
    background-color: #f0f4ff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 100%;
    margin: auto;
    flex-wrap: wrap;
    justify-content: space-between; 
}


.filter-container label {
    margin: 0 10px;
    font-size: 14px;
    font-weight: 500;
    color: #6f6fc8;
    display: flex;
    align-items: center;
}


.filter-container .mud-input {
    flex-grow: 1; 
    margin-right: 10px;
    min-width: 150px; 
}

.filter-container .mud-input-input {
    padding: 8px 12px;
    font-size: 14px;
}

/* Estilo para los selects */
.filter-container select {
    flex-grow: 1;
    padding: 8px 12px;
    border-radius: 20px;
    border: 1px solid #ccc;
    margin-right: 10px;
    min-width: 150px;
}

/* Estilo del botón "Filtrar por" */
.filter-container button {
    background-color: #605bff;
    color: #fff;
    border: none;
    border-radius: 20px;
    padding: 8px 15px;
    font-size: 14px;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.filter-container button i {
    margin-right: 8px;
}

/* Hover y focos */
.filter-container button:hover {
    background-color: #4948cc;
}

.filter-button.nuevo-filtro {
    background-color: #ff5a82;
    padding: 10px 30px; 
    font-size: 14px; 
    border-radius: 35px; 
}



.container-filter {
    margin: auto;
    width: 85%;
    height: 70px;
    margin-top: 50px;
    margin-bottom: 20px;
    display: flex;
    padding: 10px;
    justify-content: space-evenly;
}

.search{
    width: 100%;
    background: inherit;
    border: 0.7px solid slategray;
    border-radius: 7px;
    padding: 5px;
}

.search-container{
    height: 70%;
    width: 45%;
    border-radius: 6px;
    background-color: #ECEFFF;
    color: #6B5CFF;
}

@media (max-width: 768px) {
    .container-filter {
        grid-template-columns: 1fr 1fr; /* Una columna para todos los elementos */
        height: auto; /* Ajusta la altura automáticamente */
        grid-template-areas: 
            "search search"
            "select select";
    }

    .container-filter > :nth-child(1), /* Resultados */
    .container-filter > :nth-child(2) { /* Buscar */
        width: 100%; /* Ocupan todo el ancho disponible */
    }
    
    .text-resultado{
        font-size: 2.5vh;
    }

    .search{
        height: 6vh;
    }
    
    .container-select{
        width: 100%;
        margin: auto;
        grid-area: select;
        display: flex;
        justify-content: center;
    }
    
    .search-container{
        height: 6vh;
    }
}