.filter-container {
    display: flex;
    align-items: center;
    padding: 10px;
    border: 1px solid #d3d3d3;
    border-radius: 8px;
    background-color: #ffff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: auto;
    justify-content: space-between;
    height: 70px;
    max-width: 95%;
    min-width: 50%;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Elemento: botón principal dentro del contenedor */
.filter-container button {
    width: 80px !important;
    color: #fff;
    font-weight: 800;
    border-radius: 8px;
    cursor: pointer;

}

.filter-container .mud-input {
    /* margin-right: 10px; */
    /* min-width: 150px; */
    width: 200px !important;
    height: 40px !important;
    display: flex !important;
    justify-content: space-around;
    align-items: center;
}

.mud-input-control {
    /* border: 0; */
    /* margin: 0; */
    /* padding: 0; */
    /* display: flex; */
    flex: none !important;
    /* max-width: 100%; */
    /* position: relative; */
    flex-direction: column;
    /* vertical-align: top; */
    width: 190px;
    height: 30px;
    background-color: yellow;
}



/* Modificador: botón primario (Filtrar por) */
.filter-container__button--primary {
    background-color: #605bff;
    color: #fff;
}

/* Modificador: botón de aplicar filtro */
.filter-container__button--apply {
    background-color: #605bff;
}

/* Modificador: botón de limpiar filtros */
.filter-container__button--clear {
    background-color: #ff5a82;
}

/* Estilo del icono dentro del botón */
.filter-container__button i {
    margin-right: 6px; /* Espacio reducido entre el icono y el texto */
}

/* Estilo para el campo de texto dentro del contenedor de filtros */
.filter-container__input {
    margin-right: 10px;
    min-width: 120px; /* Tamaño mínimo reducido */
}

/* Ajuste para los campos de texto */
.filter-container__input input {
    padding: 4px 8px; /* Reducido para inputs más pequeños */
    font-size: 12px; /* Tamaño de texto más pequeño */
}

.container__filter_selects {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.filter-container select {

    border-radius: 8px;
    min-width: 50px;
    width: 140px;
    background-color: #ECEFFF;
    color: #6B5CFF;
    height: 30px;
    padding: 5px;
}
/* Hover y focus para el botón */
.filter-container__button:hover {
    background-color: #4948cc;
}
