/* Bloque principal del filtro */
.filter-container {
    display: flex;
    align-items: center;
    padding: 10px;
    border: 1px solid #d3d3d3;
    border-radius: 25px;
    background-color: #f0f4ff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 100%;
    margin: auto;
    flex-wrap: wrap;
    justify-content: space-between; /* Distribuye los elementos proporcionalmente */
}

/* Elemento: botón principal dentro del contenedor */
.filter-container__button {
    display: flex;
    align-items: center;
    border: none;
    border-radius: 20px;
    padding: 6px 12px; /* Ajuste de padding para botón más pequeño */
    font-size: 12px; /* Tamaño de texto más pequeño */
    cursor: pointer;
    margin-right: 10px;
}

/* Modificador: botón primario (Filtrar por) */
.filter-container__button--primary {
    background-color: #605bff;
    color: #fff;
}

/* Modificador: botón de aplicar filtro */
.filter-container__button--apply {
    background-color: #605bff;
}

/* Modificador: botón de limpiar filtros */
.filter-container__button--clear {
    background-color: #ff5a82;
}

/* Estilo del icono dentro del botón */
.filter-container__button i {
    margin-right: 6px; /* Espacio reducido entre el icono y el texto */
}

/* Estilo para el campo de texto dentro del contenedor de filtros */
.filter-container__input {
    flex-grow: 1;
    margin-right: 10px;
    min-width: 120px; /* Tamaño mínimo reducido */
}

/* Ajuste para los campos de texto */
.filter-container__input input {
    padding: 4px 8px; /* Reducido para inputs más pequeños */
    font-size: 12px; /* Tamaño de texto más pequeño */
}

/* Estilo para los selects dentro del contenedor de filtros */
.filter-container__select {
    flex-grow: 1;
    padding: 4px 8px; /* Reducido para selects más pequeños */
    border-radius: 20px;
    border: 1px solid #ccc;
    margin-right: 10px;
    min-width: 120px; /* Tamaño mínimo reducido */
    font-size: 12px; /* Tamaño de texto más pequeño */
}

/* Hover y focus para el botón */
.filter-container__button:hover {
    background-color: #4948cc;
}
