.cards {
    margin: auto;
    width: 95%;
    max-width: 1120px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
    background-color: #F9FAFC;
    max-height: 1030px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


.mud-card {
    border-radius: 8px;
    width: 250px !important;
    height: 300px !important;
    position: relative;
    overflow: hidden;
}

.mud-card-content {
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}



/* .mud-card img{
    width: 100%;
    height: 100%;
} */

.cards__container_img {
    width: 100% !important;
    height: 100% !important;
}   
/* 
.mud-image {
    border-radius: 16px;
    width: 250px;
    height: 238px;
    object-fit: cover;
    z-index: 1;
} */


.cards__container {
    position: absolute;
    /* bottom: 161px; */
    border-radius: 8px;
    top: -85px;
    left: 0;
    right: 0;
    text-align: left;
    padding: 10px;
    z-index: 2;
    transition: all 0.3s ease;
    height: 300px;
    fill: #000;
    stroke-width: 0.5px;
    stroke: #000;
    backdrop-filter: blur(60.5px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


.cards__container:hover  {
    cursor: pointer;
    top: -300px;
}

.cards__profile {
    display: flex;
    justify-content: space-between;
    position: relative;
    height: 30%;
    width: 100%;
}


.cards__profile i {
    font-size: 20px;
    color: #000;
}

.cards__profile a {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    width: 30px;
    height: 30px;
    background: #fff;
    transition: 0.5s ease-in-out;
}

.cards__profile a:hover {
    background: #6B5CFF;
    transition: 0.5s ease-in-out;
}

.cards__profile i:hover {
    color: #fff;
    transition: 0.5s ease-in-out;
}



.cards__coder {
    display: flex;
    flex-direction: column;
}

.cards__coder h6 {
    color: var(--Colors-Base-White, #FFF);
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    width: 95%;
    line-height: normal;
}

.cards__coder p {
    color: var(--Colors-Base-White, #FFF);
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/*Badges*/
.badges, .container-skills-top{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
}

.badge {
    height: 20px;
    display: inline-block;
    padding: .35em .65em;
    font-size: 11px;
    font-weight: 500;
    line-height: 1;
    color: black;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
    background-color:#ffc107;
}

.cards__badges{
    height: 50%;
    display: flex;
    flex-wrap: wrap;
    gap: 7px;
    align-items: baseline;
}

.cards__badge {
    background: #e6ca52;
    color: rgba(249, 250, 252, 1);
    border-radius: 8px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 4px 8px;
    font-family: 'ubuntu', 'Helvetica Neue';
    font-weight: bold;
    font-size: 13px;
}

.cards__badge {
    background: #e6ca52;
    color: rgba(249, 250, 252, 1);
    border-radius: 8px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 4px 8px;
    /* font-family: 'Roboto', sans-serif; */
    font-weight: bold;
    font-size: 11px;
}

/*Buttons*/
.cards__button--primary {
    display: flex;
    justify-content: left;
    gap: 10px;
    margin-top: 10px;
}

.cards__button{
    width: 100%;
    height: 30%;
}

.cards__button_element{
    background: #6b5cff;
    width: 100%;
    color: white;
    border-radius: 8px;
}


/*Modal - Detalles*/

.blazored-modal-focus-trap {
    width: 75%;
    max-width: 75%;
    min-width: 50%;
    height: 440px;
    position: relative;
    background-color: white;
    display: flex;
    justify-content: center;
    border-radius: 30px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.blazored-modal {
    /* display: flex; */
    /* flex-direction: column; */
    background-color: transparent !important;
    border-radius: 0px !important;
    border: 0px !important;
    margin: 0 !important;
    padding: 0px !important;
    /* box-shadow: 0 2px 2px rgba(0, 0, 0, .25); */
}

.custom-modal-container {
    margin: 150px 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 600px;
    border-top-left-radius: 20%;
    border-top-right-radius: 10%;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
}

.bm-content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top-left-radius: 20%;
    border-top-right-radius: 10%;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
}

.bm-container {
    margin: 0 !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.bm-header {
    position: absolute !important;
    z-index: 999;
}

.bm-close{
    color: #000 !important;
    position: relative;
    z-index: 999;
}

.bm-header span:hover{
    color: #594ae2 !important;
}

.size-medium {
    /* max-width: 500px; */
    /* margin-left: auto; */
    /* margin-right: auto; */
    width: 100% !important;
    height: 100% !important;
    background-color: red;
    max-width: 100% !important;
    margin-left: 0px !important;
}
