.title{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
}

.container-cards{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
    margin-left: 20px;
}
.mud-card{
    border-radius: 16px;
    width: 250px;
    height: 238px;
    position: relative;
    overflow: hidden;
    margin-top: 40px;
}

.mud-card:hover .profile-info{
    bottom: 0;
    z-index: 2;
}



.mud-image{
    border-radius: 16px;
    width: 250px;
    height: 238px;
    object-fit: cover;
    z-index: 1;
}

.mud-card-content{
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
.container{
    display: flex;
    justify-content: space-between;
    position: relative;
}

/* .container::before{
    background: pink;
    contain: '';
    width: 30px;
    height: 30px;
} */
.container i{
    font-size: 20px;
    color: #000;
}
.container a{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    width: 30px;
    height: 30px;
    background: #fff;
    transition: 0.5s ease-in-out;
}
.container a:hover{
    background: #6B5CFF;
    transition: 0.5s ease-in-out;
}
.container i:hover{
    color: #fff;
    transition: 0.5s ease-in-out;
}

.profile-info{
    position: absolute;
    bottom: -100px; /* Inicialmente oculto */
    border-radius: 10px;
    left: 0;
    right: 0;
    text-align: left;
    padding: 10px;
    z-index: 2;
    transition: all 0.3s ease;
    height: 210px;

    

    fill: rgba(255, 237, 237, 0.37);
    stroke-width: 0.5px;
    stroke: #FFF;
    backdrop-filter: blur(27.5px);
}

.coder{
    display: flex;
    flex-direction: column;
}
.coder h3{
    color: var(--Colors-Base-White, #FFF);
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.coder p{
    color: var(--Colors-Base-White, #FFF);
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/*Badges*/
.badges{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: left;
    padding: 4px;
    width: 100%;
    gap: 7px;
}
.badge{
    background: #E9DBAA;
    color: #000;
    border-radius: 8px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 4px 8px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 12px;
}

/*Buttons*/
.buttons{
    display: flex;
    justify-content: left;
    gap: 10px;
    margin-top: 10px;
}
.mud-button{
    border-radius: 10px;
    width: 128px;
    height: 30px;
}
