@page "/HomeClient/{Key}"
@inject IGroupService groupService
@layout ClientLayout


<PageTitle>RiwiTalent: Software de gestión talento Riwi</PageTitle>

<head>
    <link rel="stylesheet" href="css/CardComponent.css">
</head>

<MudMainContent />
<BannerCodersComponent />

@if(coders == null)
{
    <p>Cargando coders del grupo...</p>
}
else if(!coders.Any())
{
    <p>No hay coders en el grupo</p>
}
else
{
    <CardComponent />
}


@code {
    [Parameter]
    public string? Key { get; set; }

    private List<Coder>? coders;

    protected override async Task OnInitializedAsync()
    {
        if(!string.IsNullOrEmpty(Key))
        {
            var codersInGroup = await groupService.GetGroupByIdAsync(Key);
            coders = codersInGroup?.Coders;
        }
    }
}