@inject GroupCodersServices _GroupCodersServices
@page "/{Name}/{Key}"
@using riwi.Models
@using riwi.Services

<AuthorizeView>
    <Authorized>
        <!-- @if (_loading)
        {
        }
        else
        {
        } -->
        <MudProgressLinear Indeterminate="true" Color="Color.Info" Class="my-7" />
            <p>cargando...></p>

        <MudForm Style="display: flex; align-items: center " Valid="IniciarSesion">
            <br>
            <p class="input-container form-group Login_contenedor_input">
                <span class="correo_span">Correo</span>
                <label for="Password" class="input-icon-container">
                    <img src="images/mail-filled.svg" alt="Icono de correo electronico" class="input-icon" />
                </label>
                <input disabled="disabled" type="text" @bind="@Name" name="Email" id="text" class="input-field">
            </p>
            <br>
            <p class="input-container form-group Login_contenedor_input">
                <span class="Password_span">Contrase単a</span>
                <label for="Password" class="input-icon-container">
                    <img src="images/lock.svg" alt="Icono de contrase単a" class="input-icon" />
                </label>
                <input type="password" placeholder="Ingresa tu contrase単a" @bind="@Login.Key" name="Password" id="Password" class="input-field" autocomplete="Password">
                <label for="Password" class="eye-icon-container end-icon">
                    <img src="images/eye-off.svg" alt="Icono para ocultar/mostrar contrase単a" class="eye-icon" />
                </label>
            </p>

            <div class="button-container">
                <button type="button" class="btn mt-3 Ingresar" @onclick="IniciarSesion">Ingresar</button>
            </div>
        </MudForm>
    </Authorized>
</AuthorizeView>

@code {

    <!-- private bool _loading = true; -->

    [Parameter]
    public required string Name { get; set; }
    [Parameter]
    public required string Key { get; set; }
    
    public AuthExternalRequest Login { get; set; } = new();


    private async Task IniciarSesion()
    {
        Login.Name = Name;

        if (Login.Key != null)
        {
            await _GroupCodersServices.AuthenticationExternalAsync(login: Login, key: Key);
        }
        
    }
}