@inherits Blazored.Modal.BlazoredModal
@using riwi.Models;
@using riwi.Services;
@inject CoderService coderServie
@inject IModalService model


@if (Coder != null)
{
    <BlazoredModalTitle>
        @* <MudImage class="photo-modal" Src="@Coder.Photo" /> *@
    </BlazoredModalTitle>

    <BlazoredModalContent class="content-modal">

        <MudPaper class="content__left-container">
            <MudPaper class="content_left-container_top">
                <img src="" alt="">
                <p>Rol</p>
                <MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Delete" Color="Color.Error">Delete</MudButton>
            </MudPaper>

            <MudPaper class="content_left-container_bot">
                <h4>Proceso actual</h4>
                <MudPaper>
                    @* <img src="" alt="img grupo"> *@
                    <h5>Grupo Celsia</h5>
                    <p>Proceso de selecciòn</p>
                </MudPaper>
            </MudPaper>
        </MudPaper>

        <MudPaper class="content__right-container">
            <MudPaper class="content__right-container_top">
                <form action="">
                    
                </form>
            </MudPaper>
            <MudPaper class="content__right-container_bot">

            </MudPaper>
        </MudPaper>

    </BlazoredModalContent>
}
else
{
    <p>Loading...</p>
}


@code {
    private List<Coder>? coders;
    [Parameter] public Coder Coder { get; set; }
}
